<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>test</title>
</head>
<body>
<h1 th:text="${host}">Hello World1</h1>
</body>
</html>